# Секреты
.env
*.pem
*.key
*.crt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
pip-log.txt
pip-delete-this-directory.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.log
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db